[tool.black]
line-length = 88
target-version = ['py311']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | __pycache__
  | node_modules
)/
'''

[tool.isort]
profile = "black"
line_length = 88

[build-system]
requires = ["setuptools", "wheel"]